@model IEnumerable<CompaniesProject.Models.CompaniesTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}




<h2>Домашняя</h2>


<div>Поиск</div>
<div><input type="text" id="search" /></div>

<table id="mainTable" border="1">
    <tr>
        <th></th>
        <th>
            Название
        </th>
        <th>
            Адресс
        </th>
        <th>
            Телефон
        </th>
        <th>
            Количество сотрудников
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.ActionLink("Просмотр", "Details", new { id = item.Id }) 
        </td>
        <td>
            @item.Name
        </td>
        <td>
            @item.Address
        </td>
        <td>
            @item.Phone
        </td>
        <td>
            @item.EmployeesNumber
        </td>
    </tr>
}

</table>

<p>
@Html.ActionLink("Войти", "Loggin") 
</p>


<script src="@Url.Content("~/MyScripts/SearchScript.js")" type="text/javascript"></script>
